{{ ansible_managed | comment }}

Port {{ sshd_port }}

{% for address in sshd_listen_address -%}
ListenAddress {{ address }}
{% endfor %}

Protocol {{ sshd_protocol_version }}

PubkeyAuthentication {{ sshd_pubkey_authentication }}

AuthorizedKeysFile /home/%u/{{ ssh_client_path }}/authorized_keys

{% for item in ssh_user %}
  {%- if item.path is defined %}
match User {{ item.owner }}
  AuthorizedKeysFile /home/%u/{{ item.path }}
  {% endif %}
{% endfor -%}

{% for key in sshd_host_key_files -%}
HostKey {{ key }}
{% endfor %}

### CRYPTOGRAPHY ###
## TODO: A corriger, les variables ne sont pas toujours définits dans set_fact.yml
##   vérifier si openssh_ciphers est true or false
#Ciphers {{ openssh_ciphers | join(',') }}
#MACs {{ openssh_macs | join(',') }}
#KexAlgorithms {{ openssh_kexalgorithms | join(',') }}

### SECURITY CONFIGURATION ###
# Logging
SyslogFacility {{ sshd_syslog_facility }}
LogLevel {{ sshd_log_level }}

{#  KO '<' not supported between instances of 'str' and 'int'
#Privilege Separation is turned on for security
{% if openssh_version.stdout is version('7.5', '<') %}
UsePrivilegeSeparation {% if openssh_version.stdout >= '5.9'-%}{{ sshd_privilege_separation_59 }}{% else %}{{ sshd_privilege_separation_53 }}{% endif %}
{% endif %}
#}

# Authentication:
LoginGraceTime {{ sshd_login_grace_time }}
PermitRootLogin {{ sshd_root_login }}
StrictModes {{ sshd_strict_mode }}

# Don't use host-based authentication
IgnoreRhosts {{ sshd_ignore_rhosts }}
IgnoreUserKnownHosts {{ ssh_ignore_user_known_hosts }}
HostbasedAuthentication {{ sshd_hostbased_authentication }}

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication {{ sshd_challenge_response_auth }}
UsePAM {{ sshd_pam }}

# Change to no to disable tunnelled clear text passwords
PasswordAuthentication {{ sshd_password_authentification }}
PermitEmptyPasswords {{ sshd_empty_passwords }}
MaxAuthTries {{ sshd_max_auth_tries }}
MaxStartups {{ sshd_max_startups }}

{% if sshd_kerberos_support -%}
# Kerberos options
KerberosAuthentication yes
KerberosGetAFSToken no
KerberosOrLocalPasswd no
KerberosTicketCleanup yes
{% endif %}

{% if sshd_gssapi_support -%}
# GSSAPI options
GSSAPIAuthentication yes
GSSAPICleanupCredentials yes
{% endif %}

X11Forwarding {{ sshd_x11_forwarding }}
PrintMotd {{ sshd_print_motd }}
PrintLastLog {{ sshd_print_last_log }}
TCPKeepAlive {{ sshd_tcp_keep_alive }}

{% if sshd_banner_msg is defined and (sshd_banner_msg | length) -%}
Banner {{ sshd_banner_path }}
{% endif %}

AcceptEnv {{ sshd_accept_env }}

AllowAgentForwarding {{ sshd_agent_forwarding }}
AllowTcpForwarding {{ sshd_tcp_forwarding }}

ClientAliveInterval {{ sshd_client_alive_intervale }}
ClientAliveCountMax {{ sshd_client_alive_countMax }}

### SFTP CONFIGURATION ###
Subsystem sftp /usr/lib/ssh/sftp-server

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS
